<style>
  table{
    border: 1px solid black;
    border-collapse: collapse;
  }
  td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: RGB(190,190,190);
    color: RGB(255,255,255);
  }
  textarea{
    width : 300px;
    height: 500px;
    overflow-y: scroll;
  }
  td#crke{
    background-color: RGB(255,255,255);
    color: RGB(0,0,0);
  }
  button, input, label{
    vertical-align: top;
    display: inline-block;
  }
  #results{
    position:absolute;
    top:50px;
    right: 50px;

  }
